.App {
  font-family: sans-serif;
  text-align: center;
}

* {
  margin: 0;
}

.flex {}

.nomargin {
  margin: 0 !important;
}

.runeimage {
  height: 4em;
}

.fixed {
  position: absolute;
}

.spaced > * {
  margin: 0.5em;
}

.bottom {
  bottom: 1em;
  position: fixed;
}

.bottom > a {
  color: #f1a656;
}

.bottom > a:visited {
  color: #b96710;
}
